<div class="pane">
  <header class="topbar">
    <button
      type="button"
      class="back mc-hover-wiggle"
      [attr.aria-label]="t('writings.editor.backAria')"
      (click)="onBack()"
    >
      <mc-icon name="arrow-left" />
      <span>{{ t('writings.editor.back') }}</span>
    </button>
  </header>
  @if (active(); as writing) {
    @if (lock.showForeign()) {
      <mc-lock-banner
        kind="foreign"
        [title]="t('writings.lock.foreign.title')"
        [message]="t('writings.lock.foreign.message')"
        [readonlyLabel]="t('writings.lock.foreign.readonly')"
        [takeoverLabel]="t('writings.lock.foreign.takeover')"
        (readonly)="lock.acceptReadonly()"
        (takeover)="lock.takeover()"
      />
    } @else if (lock.showEvicted()) {
      <mc-lock-banner
        kind="evicted"
        [title]="t('writings.lock.evicted.title')"
        [message]="t('writings.lock.evicted.message')"
        [dismissLabel]="t('writings.lock.evicted.dismiss')"
        (dismiss)="lock.dismissEvicted()"
      />
    }
    <div class="canvas">
      <mc-writing-editor-pane
        [writing]="writing"
        [status]="status()"
        [availableTags]="tags()"
        [editable]="lock.editable()"
        (titleChange)="onTitleChange($event)"
        (bodyChange)="onBodyChange($event)"
        (deadlineChange)="onDeadlineChange($event)"
        (reminderEnabledChange)="onReminderEnabledChange($event)"
        (removeWriting)="onDelete()"
        (addTag)="onAddTag($event)"
        (removeTag)="onRemoveTag($event)"
      />
    </div>
  } @else {
    <div class="empty">
      <mc-icon name="pen-nib" class="empty-icon mc-anim-float" />
      <span>{{ t('writings.selectOne') }}</span>
    </div>
  }
</div>
